bindings { // always present
  // You can use actionId for calling actions from the IDE
  m {actionId: ShowIntentionActions, description: Local Intentions}
  // You can also define nested bindings
  q {
    // Description is required to show in the action list
    description: Session...
    // These bindings are nested under 'q' key
    bindings {
      // Even more nested bindings!
      a {
        description: Ataman...
        bindings {
          f {actionId: OpenAtamanConfigAction, description: 'Open ~/.atamanrc.config'}
          i {actionId: ReloadAtamanConfigAction, description: 'Reload from ~/.atamanrc.config'}
        }
      }

      // You can use F keys as well
      F1 {actionId: CloseProject, description: Close Project}
    }
  }
}

// Binding specific to the IDE. Intellij Ultimate in this case. See your IDE's about dialog for the correct value under the
// build number section.
// Build #<ide tag will be here>-242.23339.11
IU {
    // this binding will replace the default action for the key 'q'
    q { actionId: Vcs.Show.Log, description: Log }
    }
