bindings { // always present
  // You can use actionId for calling actions from the IDE
  m {actionId: ShowIntentionActions, description: Local Intentions}
  // You can also define nested bindings
  q {
    // Description is required to show in the action list
    description: Session...
    // These bindings are nested under 'q' key
    bindings {
      // Even more nested bindings!
      a {
        description: Ataman...
        bindings {
          f {actionId: OpenAtamanConfigAction, description: 'Open ~/.atamanrc.config'}
          i {actionId: ReloadAtamanConfigAction, description: 'Reload from ~/.atamanrc.config'}
        }
      }

      // You can use F keys as well
      F1 {actionId: CloseProject, description: Close Project}
    }
  }
}
