bindings {
  q {
    description: Session...
    bindings {
      a {
        description: Ataman...
        bindings {
          f {actionId: OpenAtamanConfigAction, description: 'Open ~/.atamanrc.config'}
          i {actionId: ReloadAtamanConfigAction, description: 'Reload from ~/.atamanrc.config'}
        }
      }
      e {actionId: CloseProject, description: Close Project}
    }
  }
}
